/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义全局样式 */
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #020617; /* 深色背景 */
  color: #f8fafc; /* 浅色文字 */
}

* {
  box-sizing: border-box;
}
